{{#if imageIds}}
  {{#each imageIds as |imageId|}}
    {{#radio-button value=imageId groupValue=chosenId}}
      {{flickr-image imageId=imageId desiredWidth=desiredWidth}}
    {{/radio-button}}
  {{/each}}
{{/if}}
<div class="credit">Images provided by <a href="http://flickr.com">Flickr</a>.</div>
