  <label for="pre-header" class="text-label pre-header-input">
    Pre-header text: {{input type="checkbox" checked=usePreHeader}}
    {{#info-pop}}
      <span class="info-pop-trigger">
        ?
      </span>
      <span class="info-pop-info">
        {{partial "explainers/pre-headers"}}
      </span>
    {{/info-pop}}
  </label>
  
  {{input type="text" class="pre-header-input" name="preheader" value=preHeaderInput}}



