$accent-color: #C02A47

@import "define-colors"

$accent-color: #6B90B5 // Blue
$email-accent-color: #C02A47 // Red

#page.index

  h1, h2, h3
    color: #fff
    font-weight: normal
  .examples
    max-width: 1300px
    margin: auto
  .plain-email
    background-color: #eee
    max-width: 900px
    width: 100%
    box-shadow: 3px 3px 12px rgba(0,0,0,0.3)
    padding: 12px 24px
    margin: 48px auto

  .html-email
    max-width: 900px
    margin: auto
    
    > table
      box-shadow: 3px 3px 12px rgba(0,0,0,.3)


    h1
      color: $accent-color

    img
      max-width: 100%

    a.button:link, a.button:visited, a.button:hover, a.button
      display: inline-block
      margin: 6px
      padding: 20px 15px
      color: #fff
      background-color: $accent-color
      text-decoration: none

    a:link, a:visited, a:hover, a
      color: $accent-color

  +breakpoint($large)
    .html-email
      width: 60%
      float: right
    .plain-email
      width: 38%
      float: left
      margin: auto 1%

  .the-form-wrapper
    +breakpoint($large)
      width: 50%
      float: left
  #the-form
    background-color: #fff
    margin-top: 72px + 24
    max-width: 634px
    padding: 20px

    +breakpoint($large)
      width: 100%
      float: none

    input, .ember-text-field
      border-color: $email-accent-color
  
  #the-email
    padding-bottom: 0
    
    p
      font-size: 18px
    .main-content
      max-width: 600px
      border: 5px solid $email-accent-color
      margin: auto
      padding: 0
      box-shadow: 0 0 40px black
      background-color: #fff

    .sig
      font-weight: bold
      font-size: 20px

    .content
      max-width: 445px
      margin: auto
      padding: 0 8px

    .background
      background-color: $email-accent-color
      padding: 0 30px

    h1
      color: $email-accent-color
      font-size: $font-size * 2
      font-weight: bold
      font-family: "Arial Black" sans-serif

    img
      max-width: 100%
      display: block
      margin: 12px auto

    a.button
      display: inline-block
      margin: 6px
      padding: 20px 15px
      color: #fff
      background-color: $email-accent-color
      text-decoration: none

  $color1: #49A370 // green
  $color2: $email-accent-color
  $color3: $accent-color
  $color4: #654686 // purple 
  // orange: #C0742A

  .main-app-content > section
    +clearfix
    padding: $body-padding
    padding-bottom: 100px
    margin: 0 (-$body-padding)

    &:nth-of-type(1)
      background-color: $color1
    &:nth-of-type(2)
      background-color: $color2
    &:nth-of-type(3)
      background-color: $color3
    &:nth-of-type(4)
      background-color: $color4
    &:nth-of-type(5)
      background-color: #fff

  .section-header
    margin: 0 (-$body-padding) 3em
    padding: 0 48px

    +breakpoint($small)
      margin-bottom: 1em
      padding: $body-padding

    h1, h2, h3
      color: #fff
      font-weight: normal
      text-align: center
      text-shadow: 2px 2px 3px rgba(0,0,0,0.3)
    h1
      font-size: $font-size * 3
      font-weight: bold
    h2
      font-size: $font-size * 2.3

    +breakpoint($small)
      h1
        font-size: $font-size * 1.75
      h2
        font-size: $font-size * 1.3

    h1 ~ h2
      margin-top: -1em
      color: #000

  p.explain
    max-width: 600px
    margin-left: auto
    margin-right: auto

  .pricing
    text-align: center

    & > div
      max-width: 100%
      background-color: #fff
      padding: 12px
      box-shadow: 2px 2px 3px rgba(0,0,0,0.3)
      display: block
      margin: auto
      vertical-align: middle
      
      +breakpoint(700px)
        display: inline-block

      h3
        color: $color4
        margin: -12px -12px 12px
        padding: 16px
        background: #CCC

    .price
      color: $color1
      font-size: 75px
      text-shadow: 2px 2px 3px rgba(0,0,0,0.3)
      font-weight: bold
      padding-top: 6px
    .plus
      background-color: transparent
      box-shadow: none
      font-size: $font-size * 4
      font-weight: bold
      color: #fff
      text-shadow: 2px 2px 3px rgba(0,0,0,0.3)

    .cost
      width: 300px
      height: 200px

  .caveat
    background-color: rgba(255,255,255, 0.3)
    padding: 12px
    margin: 50px auto -75px
    font-size: $font-size * 0.85
    max-width: 672px

  .wufoo
    max-width: 672px
    margin: 75px auto 0