<div class="notice">
  <p>For now, this really only works on a computer.</p>
  <p class="hide-large">
    Make changes on this form and see them reflected in the email template at the very bottom.
  </p>
  <p class="show-large">
    Make changes on this form and see them reflected in the email template on the right.
  </p>
</div>
