<div class="notice">
  <p {{bind-attr class="controller.isHome:hide"}}>For now, this really works best on a computer. But if you are using a phone or tablet, you can still change the values and see them update. You aren't, however going to be able to copy and paste your email template into your favorite email application. Them's the breaks.</p>
  <p class="hide-large">
    Make changes on this form and see them reflected in the email template at the very bottom.
  </p>
  <p class="show-large">
    Make changes on this form and see them reflected in the email template on the right.
  </p>
</div>
