<header class="site-header">
  <h1 class="site-title">The <span class="happy-collision"><span>Happy</span> <span>Collision</span></span> Magic Email Maker</h1>
</header>

<div class="main-app-content">
  {{outlet}}  
</div>
