<h1 id="title">Carol's Magical Email Maker 2000</h1>
<div class="notice">
  <p>For now, this really only works on a computer. Sorry.</p>
  <p>Make changes on this form and see them reflected in the email template at the bottom.</p>  
</div>
{{outlet}}
