<h1 id="title">The Happy Collision Magical Email Maker 2000</h1>
<div class="notice">
  <p>For now, this really only works on a computer.</p>
  <p class="hide-large">
    Make changes on this form and see them reflected in the email template at the very bottom.
  </p>
  <p class="show-large">
    Make changes on this form and see them reflected in the email template on the right.
  </p>
</div>

<div class="main-app-content">
  {{outlet}}  
</div>
