  <label for="pre-header" class="text-label pre-header-input">Pre-header text: {{input type="checkbox" checked=view.usePreHeader}}</label>
  {{input type="text" class="pre-header-input" name="preheader" value=view.preHeaderInput disabled=view.disablePreHeader}}


