<h2>Terms of Service</h2>    

<p>This document is not going to be too intricate. Any references to "we" means Happy Collision and any references to the "Service" means The Happy Collision Magic Email Maker.</p>

<p>If Happy Collision makes material changes to these Terms, we will notify you by email or by posting a notice on our site before the changes are effective. You can review the most current version of the Terms of Service at any time at: <a href="http://email.happycollision.com/terms">http://email.happycollision.com/terms</a></p>

<p>Violation of any of the terms below may result in the termination of your Account.</p>

<h3>Template Address/Account Terms</h3>

<ol>
<li><p>Your template may only be used by one person - a single template shared by multiple people is not permitted without written consent.</p></li>
<li><p>You are responsible for maintaining the security of your template address. At this time, we do not password protect templates due to the fact that the added security for such non-personal information would incur disproportionate costs. We do not, however, publish your template URL in a way that is readily accessible to laypersons. Hackers and programmers could easily find that information, but they sure don't need our help to create an HTML email that uses a picture of you from Flickr. <strong>Keeping your address secret is up to you.</strong> Happy Collision cannot and will not be liable for any loss or damage (though we cannot predict what such a loss or damage would even be...) from your failure to comply with this obligation.</p></li>
</ol>

<h3>Payment &amp; Refunds</h3>

<ol>
<li><p>There is an initial Design/Setup fee associated with the Service that will be paid in advance.</p></li>
<li><p>The Service is billed in advance on a yearly basis and is non-refundable. There will be no refunds or credits for partial months of service.</p></li>
<li><p>Additional templates can be created for additional Design/Setup fees, but the subscription fee will remain constant.</p></li>
<li><p>Re-subscribing to the Service after cancellation will incur another Design/Setup fee, even if the same design(s) from the previous subscription is used.</p></li>
</ol>

<h3>Cancellation and Termination</h3>

<ol>
<li><p>If you wish to cancel your account, you must contact Happy Collision via email at don@happycollision.com</p></li>
<li><p>If you cancel the Service before the end of your current paid subscription period, your cancellation will take effect at the end of the current subscription period.</p></li>
<li><p>All of your templates will be deleted from the Service upon cancellation at the end of the current subscription period.</p></li>
<li><p>Happy Collision, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other Happy Collision service, for any reason at any time. Happy Collision reserves the right to refuse service to anyone for any reason at any time.</p></li>
</ol>

<h3>Modifications to the Service and Prices</h3>

<ol>
<li><p>Happy Collision reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</p></li>
<li><p>Prices of all Services, including but not limited to yearly subscription plan fees to the Service, are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes to the Happy Collision Site (<a href="http://email.HappyCollision.com">email.HappyCollision.com</a>) or the Service itself.</p></li>
<li><p>Happy Collision shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.</p></li>
</ol>

<h3>Copyright and Content Ownership</h3>

<ol>
<li><p>We claim no intellectual property rights over the material you provide to the Service. Your materials remain yours. However, you agree that others may be able to view your templates, as they are available without special credentials if the URL to your templates becomes known.</p></li>
<li><p>The look and feel of the Service is copyright ©2015 Happy Collision. All rights reserved.</p></li>
</ol>

<h3>General Conditions</h3>

<ol>
<li><p>Your use of the Service is at your sole risk. The service is provided on an "as is" and "as available" basis.</p></li>
<li><p>You understand that Happy Collision uses third-party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</p></li>
<li><p>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, Happy Collision, or any other Happy Collision service.</p></li>
<li><p>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Happy Collision.</p></li>
<li><p>You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</p></li>
<li><p>Happy Collision does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</p></li>
<li><p>Questions about the Terms of Service should be sent to <a href="mailto:don@happycollision.com">don@HappyCollision.com</a>.</p></li>
</ol>
