<h1>Now, you are pretty clever aren't you?</h1>

<img src="https://farm6.staticflickr.com/5164/5244514441_b941310f5a_o.jpg" style="max-width: 100%; display: block; margin: auto;" alt="The Fonz">
<br><br>
